<div class="section banner">

  <section class="section__inner section__inner--banner">

    <div class="section__content section__content--valign">

      <div class="banner__heading-wrapper">

        <h1 class="banner__heading banner__heading--one">{{wedding.name}}</h1>

        <h2 class="banner__heading banner__heading--two">{{wedding.date | date: 'dd MMMM yyyy'}}</h2>
      </div>

      <p class="banner__cta">
        <button mat-raised-button color="primary" (click)="onGoToRsvp()">RSVP</button>
      </p>

    </div>

  </section>

</div>


<div class="section">

  <section class="section__inner">

    <div class="section__heading-wrapper">
      <h2 class="section__heading">The Ceremony</h2>
    </div>

    <div class="section__content">
      <p>
        <b>{{wedding.ceremonyVenue}}</b><br />
        {{wedding.ceremonyLocation}}
      </p>

      <p>
        {{wedding.ceremonyTime}}
      </p>
    </div>

    <div class="section__content">
      <p>
        {{wedding.ceremonyInfo}}
      </p>
    </div>

  </section>
</div>

<div class="section">
  <iframe [src]="wedding.ceremonyMap | safe" width="100%" height="450" frameborder="0" style="border:0"></iframe>
</div>

<div class="section section--primary">

  <section class="section__inner">

    <div class="section__heading-wrapper">
      <h2 class="section__heading">The Afters</h2>
    </div>

    <div class="section__content">
      <p>
        <b>{{wedding.aftersVenue}}</b><br />
        {{wedding.aftersLocation}}
      </p>
      <p>
        {{wedding.aftersTime}}
      </p>
    </div>

    <div class="section__content">
      <p>
        {{wedding.aftersInfo}}
      </p>

    </div>

  </section>
</div>

<div class="section">
  <iframe [src]="wedding.aftersMap | safe" width="100%" height="450" frameborder="0" style="border:0"></iframe>
</div>

