<app-nav [version]="'auth'"></app-nav>

<div class="section section--first">

  <section class="section__inner">

    <div class="section__heading-wrapper">
      <h2 class="section__heading">Login</h2>
    </div>

    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form">
        <div>
          <mat-form-field class="">
            <input matInput placeholder="Enter your email" value="" id="email" [formControl]="loginForm.controls['email']">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">This field is required</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched">This is not a valid email</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="'password'" id="password" [formControl]="loginForm.controls['password']">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">This field is required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid || (authState$ | async).loggingIn">Login</button>
        </div>
        <div class="form__cta-link form__item">
          <a routerLink="../forgot-password" routerLinkActive="active">Forgot password?</a>
        </div>
      </form>
    </mat-card>

  </section>
</div>
