<section class="section section--app banner">
  <div class="section__image banner__image" style="background-image:url(http://localhost:4200/assets/images/flowers.jpg)">
    <div class="section__content section__content--pad">
      <h1 class="section__heading">RSVP <br /> Deirdre & John's wedding</h1>
      <p class="banner__subtext">Saturday, September 1st 2018</p>

      <h3 class="section__sub-heading">Hi James & Kate</h3>
      <p class="section__text">We would be really grateful if you could let us know if you will be attending our wedding by Friday August 18th 2018</p>

      <p class="section__text">
        Please tell us who will be attending
      </p>
      <form class="form">
        <div class="form__item form__item--left">
          <mat-checkbox>James</mat-checkbox>
        </div>

        <div class="form__item form__item--left">
          <mat-checkbox>Kate</mat-checkbox>
        </div>

        <div>
          <button mat-raised-button color="primary">Send RSVP</button>
        </div>
      </form>


    </div>
  </div>
</section>

