<ul class="feature-list">

  <li class="feature-list__item">
    <span class="feature-list__icon">
      <mat-icon>email</mat-icon>
    </span>
    <span class="feature-list__text">
      Send invitations
    </span>
  </li>

  <li class="feature-list__item">
    <span class="feature-list__icon">
      <mat-icon>reply</mat-icon>
    </span>
    <span class="feature-list__text">
      RSVP functionality
    </span>
  </li>

  <li class="feature-list__item">
    <span class="feature-list__icon">
      <mat-icon>group</mat-icon>
    </span>
    <span class="feature-list__text">
      Manage your guests
    </span>
  </li>

  <li class="feature-list__item">
    <span class="feature-list__icon">
      <mat-icon>phone_android</mat-icon>
    </span>
    <span class="feature-list__text">
      Wedding day website
    </span>
  </li>

</ul>
