<app-nav></app-nav>

<main>

  <div class="section banner">

    <section class="section__inner section__inner--banner">

      <div class="section__content section__content--valign">

        <div class="banner__heading-wrapper">

          <h1 class="banner__heading banner__heading--one">It's Your Wedding Website</h1>

        </div>

        <div class="banner__cta">
          <button mat-raised-button color="primary" [routerLink]="['auth', 'signup']">Sign Up For Free</button>
        </div>

      </div>

    </section>

  </div>


  <div class="section">

    <section class="section__inner section__inner--auto">

      <div class="section__heading-wrapper">
        <h2 class="section__heading">Get your wedding online</h2>
      </div>

      <div class="section__content">
        <p [appScrollToView] class="section__content scroll-to-view">
          Manage your guest list, RSVPs, email invitations, wedding day information like venue location & ceremony times.
        </p>

        <div>
          <app-feature-list></app-feature-list>
        </div>
      </div>

    </section>
  </div>

</main>

<app-footer></app-footer>
