.banner {

  position: relative;
  background: $black;

  &:before {
    background-image:url(/assets/images/leaves.jpg);
    background-size:cover;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
  }

  &__heading-wrapper {
    text-align: center;
    padding: 0 $padding-medium;
  }

  &__cta {
    text-align: center;
    margin-top: $padding-large;
  }

  &__heading {
    padding: 0;
    margin: 0;
    font-family: $font-heading;
    color: $white;
    font-weight: normal;

    &--one {
      padding: $padding-medium 0;
    }

    &--two {
      padding: $padding-medium 0;
    }

    &--alt {
      color: $black;
    }
  }
}

//.banner {
//
//  &__content {
//    @include vertical-align();
//
//    &--app {
//      @include vertical-align(40px);
//    }
//  }
//
//  &__icon {
//    @include horizontal-align();
//    color: $pink;
//    max-width: 30px;
//    @include stroke();
//    font-size: $font-large;
//  }
//  &__heading {
//    margin-top: 0;
//    color: $black;
//    text-transform: uppercase;
//    font-weight: lighter;
//    text-align: center;
//    font-family: $font-heading;
//    font-size: $font-x-large;
//    padding: 23px;
//    max-width: 300px;
//    @include horizontal-align();
//    @include stroke();
//
//    &--border {
//      border-top: solid 3px $black;
//      border-bottom: solid 3px $black;
//    }
//
//    &--alt {
//      font-size: $font-medium;
//      display: inline-block;
//      padding-bottom: 18px;
//    }
//  }
//
//  &__date {
//    color: $white;
//    text-align: center;
//    font-family: $font-heading;
//  }
//
//  &__subtext {
//    color: $black;
//    text-align: center;
//    font-family: $font-heading;
//    font-weight: bold;
//    @include stroke();
//    font-size: $font-medium;
//  }
//}
