.form {

  text-align: center;

  &__item {
    padding: $padding-small;
    &--left {
      text-align: left;
    }
  }

  &__cta-link {
    text-align: center;
    padding-top: $padding-large;
    a {
      color: $primary;
    }
  }

  label {
    color: $black;
  }
}
