@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

// aligns
@mixin vertical-align($offset: 0) {
  position: relative;
  top: 50%;
  @if $offset {
    top: calc(50% + #{$offset}px);
  }
  transform: translateY(-50%);
}
@mixin horizontal-align() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

//misc
@mixin stroke {
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

// grid

@mixin grid-wrap {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin grid-row() {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin grid-item($num) {
  width: calc((100% - #{$gutter-width} * 2) / #{$num});
  margin-right: $gutter-width;
  float: left;

  &:nth-child(#{$num}n+#{$num}) {
    margin-right: 0;
    float: right;
  }
}
