
.section {

  background-color: $white;
  position: relative;

  &__inner {
    @include grid-wrap();
    @include grid-row();
    min-height: 100vh;
    padding-left: $padding-small;
    padding-right: $padding-small;
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;

    &--banner {
      height: 100vh;
      padding: 0;
    }

    &--auto {
      min-height: auto;
    }
  }

  &__heading-wrapper {
    @include grid-wrap();
    @include grid-row();
  }



  &__heading {
    text-align: center;
    padding: $padding-medium 0 !important;
  }

  &__cta {
    padding-bottom: $padding-medium;
  }

  &__content {

    overflow: hidden;
    padding: 0 $padding-medium $padding-medium $padding-medium;

    p {
      line-height: 1.8em;
      text-align: center;
      font-family: $font-body;
    }

    &--valign {
      @include vertical-align();
    }

    &--halign {
      @include horizontal-align();
    }
  }

  &--primary {
    background-color: $primary;

    h2{
      color: $white;
    }

    p {
      color: $white;
    }
  }

  &--dark {
    background-color: $black;
  }

  

  &--first {
    padding-top: $nav-height;
  }
}

@include desktop() {
  .section {

    &__inner {
      padding-left: 0;
      padding-right: 0;

      &--auto {
        min-height: 300px;
      }
    }
  }
}
