.section {

  min-height: 100vh;

  &__image {
    height: 100vh;
    background-size:cover;
  }

  &__heading {
    text-align: center;
    color: $black;
    font-family: $font-heading;
    margin-top: $text-buffer;

    &--light {
      color: $white;
    }
  }

  &__text {
    text-align: center;
    color: $black;
    margin-bottom: $text-buffer;
    font-family: $font-body;
    line-height: 1.8;
    letter-spacing: 0.7px;
  }

  &__content {
    @include grid-wrap();

    &--pad {
      padding: 0 $gutter-width;
    }
  }
}
