$max-width: 800px;
$gutter-width: 20px;

// colors
$white: #ffffff;
$black: #333333;
$pink: #ad1457;

// sizes
$padding-small: 15px;
$font-x-large: 45px;
$font-medium: 22px;
$font-small: 16px;
$text-buffer: 40px;
$nav-height: 56px;
