<form [formGroup]="form" (ngSubmit)="onUpdate(form.value)">
  <div>
    <mat-form-field class="">
      <input matInput placeholder="Enter the event name" value="{{wedding.name}}" id="name" [formControl]="form.controls['name']">
      <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">This field is required</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Enter the event date" [matDatepicker]="picker" id="date" [formControl]="form.controls['date']">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" [disabled]="!form.valid || loading">Update</button>
  </div>
</form>
