<mat-card>
  <mat-card-title>
    Signup
  </mat-card-title>
  <div>
    <mat-form-field class="">
      <input matInput placeholder="Enter your username" value="">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="'password'">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Confirm your password" [type]="'password'">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Signup</button>
  </div>
</mat-card>
