
<app-nav [version]="'auth'"></app-nav>

<div class="section section--first">

  <section class="section__inner">

    <div class="section__heading-wrapper">
      <h2 class="section__heading">Reset Your Password</h2>
    </div>

    <mat-card>
      <form class="form" [formGroup]="form" (ngSubmit)="onResetPassword(form.value)">

        <div class="form__item">
          <mat-form-field class="">
            <input matInput placeholder="Enter your email" value="" [formControl]="form.controls['email']">
            <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">This field is required</mat-error>
          </mat-form-field>
        </div>
        
        <div class="form__item">
          <mat-form-field class="">
            <input type='password' matInput placeholder="Enter your new password" value="" [formControl]="form.controls['password']">
            <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">This field is required</mat-error>
          </mat-form-field>
        </div>
        
        <div class="form__item">
          <mat-form-field class="">
            <input type='password' matInput placeholder="Confirm your new password" value="" [formControl]="form.controls['confirm']">
            <mat-error *ngIf="form.controls['confirm'].hasError('required') && form.controls['confirm'].touched">This field is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form__item">
          <button mat-raised-button color="primary" [disabled]="!form.valid || (authState$ | async).resettingPassword">Reset password</button>
        </div>
      </form>
    </mat-card>

  </section>
</div>
