<div class="nav" [ngClass]="{'nav--auth' : version === 'auth'}">

  <div class="nav__wrapper nav__mobile" [appClassScroll]="100" appClassScrollName="nav__mobile--scrolled">

    <div class="nav__title" [routerLink]="['']">
      <img src="/assets/images/elf_pink.png" class="nav__logo" />
      Wedding Elf
    </div>

    <div class="nav__menu">

      <button class="nav__menu-button" mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>dehaze</mat-icon>
      </button>

      <div class="nav__mat-menu">
        <mat-menu x-position="before" #menu="matMenu">
          <button [routerLink]="['/auth', 'login']" routerLinkActive="active" mat-menu-item>Login</button>
          <button [routerLink]="['/auth', 'signup']" routerLinkActive="active" mat-menu-item>Signup</button>
        </mat-menu>
      </div>

    </div>
  </div>

  <div class="nav__wrapper nav__desktop">

    <div class="nav__title">
      <img src="/assets/images/elf_pink.png" class="nav__logo" />
      Wedding Elf
    </div>

    <div class="nav__menu">

      <ul>
        <li>
          <button color="primary" [routerLink]="['/auth', 'login']" routerLinkActive="active" mat-raised-button>Login</button>
        </li>

        <li>
          <button color="primary" [routerLink]="['/auth', 'signup']" routerLinkActive="active" mat-raised-button>Signup</button>
        </li>
      </ul>

    </div>

  </div>

</div>
