
<app-nav [version]="'auth'"></app-nav>

<div class="section section--first">

  <section class="section__inner">

    <div class="section__heading-wrapper">
      <h2 class="section__heading">Forgot Password</h2>
    </div>

    <div class="section__content">
      <p>
        Fill in your email to get a link to reset your password sent to you.
      </p>
    </div>

    <mat-card>
      <form class="form" [formGroup]="resetLinkForm" (ngSubmit)="onRequestResetLink(resetLinkForm.value)">
        <div class="form__item">
          <mat-form-field class="">
            <input matInput placeholder="Enter your email" value="" [formControl]="resetLinkForm.controls['email']">
            <mat-error *ngIf="resetLinkForm.controls['email'].hasError('required') && resetLinkForm.controls['email'].touched">This field is required</mat-error>
            <mat-error *ngIf="resetLinkForm.controls['email'].hasError('email') && resetLinkForm.controls['email'].touched">This is not a valid email</mat-error>
          </mat-form-field>
        </div>
        <div class="form__item">
          <button mat-raised-button color="primary" [disabled]="!resetLinkForm.valid || (authState$|async).requestingPasswordLink">Send password reset link</button>
        </div>
      </form>

    </mat-card>

  </section>
</div>
