<mat-card>
  <mat-card-title>
    Forgot Password
  </mat-card-title>
  <mat-card-subtitle>
    Fill in your email to get a link to reset your password sent to you.
  </mat-card-subtitle>
  <form *ngIf="!requestSent" [formGroup]="resetLinkForm" (ngSubmit)="onRequestResetLink(resetLinkForm.value)">
    <div>
      <mat-form-field class="">
        <input matInput placeholder="Enter your email" value="" [formControl]="resetLinkForm.controls['email']">
        <mat-error *ngIf="resetLinkForm.controls['email'].hasError('required') && resetLinkForm.controls['email'].touched">This field is required</mat-error>
        <mat-error *ngIf="resetLinkForm.controls['email'].hasError('email') && resetLinkForm.controls['email'].touched">This is not a valid email</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!resetLinkForm.valid || sending">Send password reset link</button>
    </div>
  </form>

  <mat-card-content *ngIf="requestSent">You should receive an email with a link to reset your password shortly.</mat-card-content>
</mat-card>
