@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/variables';
@import './styles/breakpoints';
@import './styles/resets';
@import './styles/mixins';
@import './styles/grid';
@import 'styles/_form';
@import './styles/fonts';

@import './styles/section';
@import './styles/banner';
@import './styles/nav';
@import './styles/footer';
@import './styles/toast';
@import './styles/annimations';

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
