<ul class="sub-nav">

  <li class="sub-nav__item">
    <span class="sub-nav__icon">
      <mat-icon>email</mat-icon>
    </span>
    <span class="sub-nav__text">
      <a [routerLink]="['auth', 'login']" routerLinkActive="active">Invitations</a>
    </span>
  </li>

  <li class="sub-nav__item">
    <span class="sub-nav__icon">
      <mat-icon>reply</mat-icon>
    </span>
    <span class="sub-nav__text">
      <a [routerLink]="['auth', 'login']" routerLinkActive="active">RSVPs</a>
    </span>
  </li>

  <li class="sub-nav__item">
    <span class="sub-nav__icon">
      <mat-icon>group</mat-icon>
    </span>
    <span class="sub-nav__text">
      <a [routerLink]="[wedding._id, 'guestlist']" routerLinkActive="active">Guest List</a>
    </span>
  </li>

  <li class="sub-nav__item">
    <span class="sub-nav__icon">
      <mat-icon>phone_android</mat-icon>
    </span>
    <span class="sub-nav__text">
      <a [routerLink]="[wedding._id, 'details']" routerLinkActive="active">The Wedding Website Details</a>
    </span>
  </li>

</ul>

