<div class="section footer">

  <section class="section__inner section__inner--auto footer__inner">

    <div class="footer__row grid-row">
      <div class="footer__content">
        <h2>Looking for something more custom?</h2>
        <p>Get in touch and we can create a completely unique wedding website individual to you.</p>
        
      </div>
      
      <div class="footer__content footer__cta">
        <button color="primary" [routerLink]="['/auth', 'signup']" routerLinkActive="active" mat-raised-button>Signup for free</button>
      </div>
    </div>

    <div class="grid-row">
      <div class="footer__content">
        <p><a href="mailto:1001hz@gmail.com">Site by Boutek</a></p>
      </div>
      
      <div class="footer__content footer__content--right">
        <img src="/assets/images/wlogo_pink.png" class="footer__logo" />
        <h1>Wedding Elf</h1>
      </div>
    </div>
  </section>

</div>